{% block display_card %}
{% load i18n %}
{% load static %}
{% load extra_filters %}
<!-- product_card.html -->
<div class="position-relative {% if product.is_deleted %} opacity-50 {% endif %}">
    {% if not product.is_deleted %}
    <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
        {% trans "new" %}
    </div>
    {% endif %}
    <div class="card position-relative">
        <a href="{% if not product.is_deleted %}{{ product.get_absolute_url }}{% else %}#{% endif %}">
            <img
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/item1.jpg' %}{% endif %}"
                class="img-fluid rounded-4 product-image "
                alt="{{ product.name }}"
            />
        </a>
        <div class="card-body p-0">
            <a href="{% if not product.is_deleted %}{{ product.get_absolute_url }}{% else %}#{% endif %}">
                <h3 class="card-title pt-4 m-0">{{ product.name }}</h3>
            </a>

            <div class="card-text">
                <span class="rating secondary-font">
                    {% for _ in product.average_rating|range_filter %}
                        <iconify-icon
                            icon="clarity:star-solid"
                            class="text-primary"
                        ></iconify-icon>
                    {% endfor %}
                    {% if product.average_rating|has_half_star %}
                        <iconify-icon
                            icon="bi:star-half"
                            class="text-primary"
                        ></iconify-icon>
                    {% endif %}
                    {{ product.average_rating|floatformat:1 }}
                </span>

                <h3 class="secondary-font text-primary">
                    {{ product.price }}₫
                </h3>
                <div class="d-flex flex-wrap mt-3">
                    <button type="button" class="btn-cart me-3 px-4 pt-3 pb-3" {% if product.is_deleted %} disabled {% endif %} data-bs-toggle="modal" data-bs-target="#addToCartModal" data-default-price="{{ product.price }}" data-product-id="{{ product.id }}">
                        <h5 class="text-uppercase m-0">{% trans "Add to Cart" %}</h5>
                    </button>
                    <a href="#" class="btn-wishlist px-4 pt-3 {% if product.is_deleted %} disabled {% endif %}">
                        <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% if product.is_deleted %}
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h3 class="text-danger deleted-element">{% trans "This product is no longer available" %}</h3>
    </div>
    {% endif %}
</div>
{% endblock %}
