{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/verify_input.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="container OTP-message-container my-5">
    <div class="border-bottom mb-4 pb-3">
        <a href="#" class="h4 text-primary font-weight-bold text-decoration-none">{% trans "Your Brand" %}</a>
    </div>
    <p class="h5">{% trans "Hi," %}</p>
    <p>{% blocktrans %}Thank you for choosing Pet Shop. Use the following OTP to complete your Sign Up procedures. OTP is valid for 5 minutes{% endblocktrans %}</p>
    <h2 class="bg-primary text-white py-2 px-3 rounded mx-auto d-inline-block">{{ otp }}</h2>
    <p class="small mt-3">{% trans "Regards," %}<br>{% trans "Pet Shop" %}</p>
    <hr class="my-4" />
    <div class="text-muted small float-right">
        <p>Pet Shop Inc</p>
        <p>Hanoi-Danang</p>
    </div>
</div>
