.scroll-container {
    height: 30vh;
    overflow-y: auto;
}
.scroll-container::-webkit-scrollbar {
    width: 10px;
  }
#search-results {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    max-width: 500px;
}
.custom-scroll {
    max-height: 50px;
    overflow-y: auto;
}
.back-to-top {
    right: 0;
    position: absolute;
}

.back-to-top .iconify-icon {
    width: 1.5em;
    height: 1.5em;
}

#map {
    height: 400px !important;
}

.img-preview {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}
.remove-btn {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    color: red;
}


.btn-custom {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    width: 100px;
}

.btn-custom-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-custom-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-custom-review {
    background-color: #DEAD6F;
    color: white;
    border: none;
}

.btn-custom:hover {
    opacity: 0.8;
}

.table-custom th,
.table-custom td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.table-custom th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.voucher-select {
    width: 300px;
}

.highlight-label {
    font-weight: bold;
    font-size: 1.2em;
}
