.scroll-container {
    height: 30vh;
    overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
    width: 10px;
}

#search-results {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    max-width: 500px;
}

.custom-scroll {
    max-height: 50px;
    overflow-y: auto;
}

.back-to-top {
    right: 0;
    position: absolute;
}

.back-to-top .iconify-icon {
    width: 1.5em;
    height: 1.5em;
}

#map {
    height: 400px !important;
}

.img-preview {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}
.remove-btn {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    color: red;
}


.btn-custom {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    width: 100px;
}

.btn-custom-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-custom-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-custom-review {
    background-color: #DEAD6F;
    color: white;
    border: none;
}

.btn-custom:hover {
    opacity: 0.8;
}

.table-custom th,
.table-custom td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.table-custom th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.centered-table th, .centered-table td {
    padding: 10px; /* Giãn cách các cột */
    text-align: center; /* Căn giữa nội dung */
}

.voucher-select {
    width: 300px;
}

.highlight-label {
    font-weight: bold;
    font-size: 1.2em;
}

.v-custom-select {
    border: 0.5px solid;
    border-radius: 5px;
    padding: 10px;
}

.custom-select-order,
.custom-button-order {
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
}

.custom-select-order {
    width: 150px;
}

.custom-button-order {
    width: 100px;
}
.btn-search {
    height: 30px;
    width: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-wrapper {
    min-height: 120vh;
}

#description-section {
    padding: 0 150px;
    min-height: 300px;
    min-width: 300px;
}
.des-wrapper, .image-wrapper {
    min-height: 420px;
    min-width: 350px;
}

.properties {
    width: 50%;
}

.pagination li {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: fit-content;
    flex-shrink: unset;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.pagination a {
    height: 40px;
    display: inline-flex;
    margin: 0;
    padding: 0 10px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.out-of-stock {
    opacity: 0.5;
    pointer-events: none;
}

.out-of-stock .remove-item {
    opacity: 1;
    pointer-events: auto;
}

.alert-text {
    font-weight: bold;
}

.no-capitalize {
    text-transform: none;
}

.badge-reviewed {
    color: gray;
}

input.error {
    border: 2px solid red;
}

.options-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.option {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.option.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.option.d-none {
    display: none;
}

.category-name {
    max-width: 400px;
    overflow: hidden;
    max-height: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reset-address-btn {
    cursor: pointer;
}
