{% extends "admin/base_admin.html" %}
{% load static i18n %}
{% block body %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin:index' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">{% trans 'Pet Shop Admin' %}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin:index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>{% trans 'Dashboard' %}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% trans 'Management' %}
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>{% trans 'Shop' %}</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% trans 'Shop Manage:' %}</h6>
                        <a class="collapse-item" href="{% url 'admin:app_product_changelist' %}">{% trans 'Products' %}</a>
                        <a class="collapse-item" href="{% url 'admin:app_productdetail_changelist' %}">{% trans 'Product-Details' %}</a>
                        <a class="collapse-item" href="{% url 'admin:app_category_changelist' %}">{% trans 'Categories' %}</a>
                        <a class="collapse-item" href="{% url 'admin:app_voucher_changelist' %}">{% trans 'Vouchers' %}</a>
                        <a class="collapse-item" href="{% url 'admin:app_voucherhistory_changelist' %}">{% trans 'Vouchers History' %}</a>
                        <a class="collapse-item" href="{% url 'admin:app_bill_changelist' %}">{% trans 'Bills' %}</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:app_customuser_changelist' %}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>{% trans 'User' %}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% trans 'Statistical' %}
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>{% trans 'Charts' %}</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-table"></i>
                    <span>{% trans 'Tables' %}</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                {% trans 'Pet Website' %}
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'index'%}">
                    <i class="fas fa-fw fa-step-backward"></i>
                    <span>{% trans 'Return to Homepage' %}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="d-none d-sm-inline-block form-inline mx-auto full-width">
                    <h1 class="page-title">
                        {% block title %}
                        {% endblock %}
                    </h1>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.first_name }} {{ user.last_name }}</span>
                            <img class="img-profile rounded-circle" src="{{ user.avatar.url }}">
                        </a>
                    </li>

                </ul>

            </nav>
            <div class ="pl-3">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}
