{% extends "admin/base_site.html" %}
{% load i18n admin_list static custom_tags %}
{% block title %}{{ title | upper }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          {% block search %}{% search_form cl %}{% endblock %}
          {% with 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_add' as admin_add_url %}
            <a href="{% url admin_add_url %}" class="btn btn-primary text-nowrap">
              {{ _("Add new") }}
            </a>
          {% endwith %}
        </div>
        <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}

        <!-- Hiển thị bảng dữ liệu -->
        <table class="table table-bordered">
          <thead>
            <tr>
              {% for column in cl.list_display %}
                {% if column != "action_checkbox" %}
                  <th>
                    {% if column == "gender" %}
                      {{ _("Gender") }}
                    {% elif column == "status" %}
                      {{ _("Status") }}
                    {% else %}
                      {{ column }}
                    {% endif %}
                  </th>
                {% endif %}
              {% endfor %}
              <th>{{ _("Actions") }}</th> <!-- Cột Actions -->
              <th>{{ _("Select") }}</th> <!-- Cột Select mới -->
            </tr>
          </thead>
          <tbody>
            {% for obj in cl.result_list %}
              <tr>
                {% for field in cl.list_display %}
                  {% if field != "action_checkbox" %}
                    <td>
                      {% if field == "gender" %}
                        {{ obj|get_display_value:"gender" }}
                      {% elif field == "status" %}
                        {{ obj|get_display_value:"status" }}
                      {% elif field == "price" %}
                        {{ obj|get_display_value:"price"|format_decimal }}
                      {% else %}
                        {{ obj|getattr_value:field }}
                      {% endif %}
                    </td>
                  {% endif %}
                {% endfor %}
                <td>
                  <div class="d-flex">
                    <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_change' obj.pk %}" class="btn btn-info btn-sm me-2" style="flex: 1;">
                      {{ _("Edit") }}
                    </a>
                    <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_delete' obj.pk %}" class="btn btn-danger btn-sm" style="flex: 1;">
                      {{ _("Delete") }}
                    </a>
                  </div>
                </td>
                <td class="text-center">
                  {% if obj.pk %}
                    <input type="checkbox" name="_selected_action" value="{{ obj.pk }}" class="form-check-input">
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="{{ cl.list_display|length|add:2 }}" class="text-center">{% trans "No data available." %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}

        {% block pagination %}{% pagination cl %}{% endblock %}
      </div>
    </div>
  </div>
</div>
<script src="{% static 'admin/assets/js/change_list.js' %}"></script>
{% endblock %}
