{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load extra_filters %}
{% block content %}
        <!-- Cart Page Start -->
        <div class="container-fluid pb-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">{% trans "Product Name" %}</th>
                            <th scope="col">{% trans "Size" %}</th>
                            <th scope="col">{% trans "Color" %}</th>
                            <th scope="col">{% trans "Price" %}</th>
                            <th scope="col">{% trans "Quantity" %}</th>
                            <th scope="col">{% trans "Total" %}</th>
                            <th scope="col">{% trans "Handle" %}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in cart_items %}
                          {% if not item.product_detail or item.product_detail.remain_quantity == 0 %}
                            <tr>
                                <td colspan="7" class="text-center alert-text">
                                    {% trans "Sorry, We have ran out of this type of product. Please remove and select another." %}
                                </td>
                            </tr>
                           {% endif %}
                            <tr id="row-{{ item.id }}" class="{% if not item.product_detail or item.product_detail.remain_quantity == 0 %}out-of-stock{% endif %}">
                            <td>{{ item.product_detail.product.name }}</td>
                            <td>
                                {% with product_details_dict|get_item:item.product_detail.product.id as product_details %}
                                {% if product_details.sizes %}
                                <select id="size-select-{{ item.id }}" class="form-select">
                                    {% for size in product_details.sizes %}
                                    <option value="{{ size }}" {% if size == item.product_detail.size %}selected{% endif %}>{{ size }}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                <span>{{ item.product_detail.size }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if product_details.colors %}
                                <select id="color-select-{{ item.id }}" class="form-select">
                                    {% for color in product_details.colors %}
                                    <option value="{{ color }}" {% if color == item.product_detail.color %}selected{% endif %}>{{ color }}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                <span>{{ item.product_detail.color }}</span>
                                {% endif %}
                                {% endwith %}
                            </td>
                            <td id="price-{{ item.id }}" data-product-id="{{ item.product_detail.product.id }}">
                                {% if not item.product_detail or item.product_detail.remain_quantity == 0 %}
                                    0 VND
                                {% else %}
                                    {{ item.product_detail.price|intcomma }} {% trans "VND" %}
                                {% endif %}
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 120px; align-items: center; justify-content: flex-start; margin-top: 0;">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border d-flex align-items-center justify-content-center" type="button" style="width: 2em; height: 2em;" data-item-id="{{ item.id }}" data-action="decrease">
                                            <iconify-icon icon="ic:baseline-minus" width="1em" height="1em"></iconify-icon>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0 quantity-input" value="{{ item.quantity }}" id="quantity-{{ item.id }}" data-item-id="{{ item.id }}" style="height: 2em; width: 3em; margin-left: -1.5em;">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border d-flex align-items-center justify-content-center" type="button" style="width: 2em; height: 2em;" data-item-id="{{ item.id }}" data-action="increase">
                                            <iconify-icon icon="ic:baseline-plus" width="1em" height="1em"></iconify-icon>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td id="total-{{ item.id }}">
                                {% if not item.product_detail or item.product_detail.remain_quantity == 0 %}
                                    0 VND
                                {% else %}
                                    {{ item.total|intcomma }} {% trans "VND" %}
                                {% endif %}
                            </td>
                            <td class>
                                <button data-item-id="{{ item.id }}" class="btn btn-danger remove-item" type="button">
                                    {% trans "Remove" %}
                                </button>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-5 ">
                    <label for="voucher-select" class="me-3 highlight-label">{% trans "Select Voucher" %}:</label>
                    <div class="mt-5 d-flex align-items-center">
                        <select id="voucher-select" class="form-select v-custom-select border-secondary rounded me-3 py-3 mb-4 voucher-select"
                            data-select-voucher="{% trans 'Select a voucher' %}"
                            data-for-everyone="{% trans ' - For everyone' %}"
                            data-special-for-you="{% trans ' - Special for you' %}">
                        {% for voucher in vouchers %}
                            <option value="{{ voucher.id }}" 
                                    data-discount="{{ voucher.discount }}" 
                                    data-minAmount="{{ voucher.min_amount}}">
                                {{ voucher.categories }} - {{ voucher.discount|intcomma }}{% trans " VND" %} - Min: {{ voucher.min_amount|intcomma }}{% trans " VND" %}
                                {% if voucher.is_global %}
                                    {% trans " - For everyone" %}
                                {% else %}
                                    {% trans " - Special for you" %}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                        <button id="apply-voucher" class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">{% trans "Apply Voucher" %}</button>
                    </div>            
                </div>
                <div class="row g-4 justify-content-end">
                    <div class="col-8"></div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                        <div class="bg-light rounded">
                            <div class="p-4">
                                <h1 class="display-6 mb-4">
                                    Cart <span class="fw-normal">{% trans "Total"%}</span>
                                </h1>
                                <div class="d-flex justify-content-between mb-4">
                                    <h5 class="mb-0 me-4">{% trans "Subtotal:" %}</h5>
                                    <p class="mb-0" id="subtotal">
                                        {% if has_out_of_stock %}
                                            0 {% trans "VND" %}
                                        {% else %}
                                            {{ subtotal|intcomma }} {% trans "VND" %}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-0 me-4">{% trans "Shipping" %}</h5>
                                    <div class="">
                                        <p class="mb-0" id="shipping_fee">{{shipping_fee|intcomma }} {% trans "VND" %}</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-0 me-4">{% trans "Discount" %} {% trans "VND" %}</h5>
                                    <div class="">
                                        <p class="mb-0" id="discount_fee">{{ discount_fee|intcomma|default:"0" }}</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-0 me-4">{% trans "Total:" %}</h5>
                                    <div class="">
                                        <p class="mb-0" id="total_price">
                                            {% if has_out_of_stock %}
                                                0 {% trans "VND" %}
                                            {% else %}
                                                {{ total_price|intcomma }} {% trans "VND" %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            <button id="checkout-button" class="btn border-primary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button"><a href="{% url 'checkout' %}">{% trans "Proceed Checkout"%}</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart Page End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top">
            <iconify-icon icon="lucide:move-up"></iconify-icon>
        </a>
{% endblock %}
