{% extends 'base.html' %} {% load i18n %} {% load static %} {% block content %}
<div class="container-fluid fruite pb-5">
    <div class="container py-5">
        <h1 class="mb-4">{% trans "Take care your pet" %}</h1>
        <div class="row g-4">
            <form class="col-lg-12" method="GET" action="{% url 'shop' %}">
                <div class="row g-4">
                    <div class="col-xl-3">

                        <div class="input-group w-100 mx-auto d-flex">
                            <input
                                type="text"
                                name="query"
                                id="query"
                                value="{{ query }}"
                                class="form-control p-3"
                                placeholder="{% trans 'keywords' %}"
                                aria-describedby="search-icon-1"
                            />
                            <button
                                id="search-icon-1"
                                class="input-group-text p-3"
                                type="submit"
                                >
                                <iconify-icon icon="material-symbols:search"></iconify-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div
                            class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4"
                        >
                            <label for="sort">{% trans "Sorting" %}:</label>
                            <select
                                id="sort"
                                name="sort"
                                class="border-0 form-select-sm bg-light me-3"
                                onchange="this.form.submit()"
                            >
                                <option value="name" {% if request.GET.sort == "name" %}selected{% endif %}
                                >{% trans "Name" %}</option>
                                <option value="price_asc" {% if request.GET.sort == "price_asc" %}selected{% endif %}
                                >{% trans "price: low -> hight" %}</option>
                                <option value="price_desc" {% if request.GET.sort == "price_desc" %}selected{% endif %}
                                >{% trans "price: high -> low" %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <h4>{% trans "Categories" %}</h4>
                                <div class="mb-3 scroll-container swiper " >
                                    <div class="list-unstyled fruite-categorie swiper-vertical " >
                                        {% for category in categories %}
                                            <div class="swiper-sdivde">
                                                <div
                                                    class="d-flex justify-content-between fruite-name"
                                                >
                                                    <a href="#"
                                                        ><i
                                                            class="fas fa-apple-alt me-2"
                                                        ></i
                                                        >
                                                        <input
                                                            type="checkbox"
                                                            class="me-2"
                                                            id="category.name"
                                                            name="categories"
                                                            value="{{ category.id }}"
                                                            {% if category.id|stringformat:"s" in selected_categories %}checked{% endif %}
                                                        />
                                                        {{ category.name }}</a
                                                    >
                                                    <span>({{ category.product_count }})</span>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">{% trans "Price" %}</h4>
                                    <div class="d-flex align-items-center">
                                        <input
                                            type="number"
                                            class="form-control w-50 me-2"
                                            id="minAmount"
                                            name="price_min"
                                            min="0"
                                            value="{{ price_min }}"
                                            placeholder="{% trans 'Min' %}"
                                        />
                                        <iconify-icon icon="pepicons-pop:line-x" height="2em"></iconify-icon>
                                        <input
                                            type="number"
                                            class="form-control w-50"
                                            id="maxAmount"
                                            name="price_max"
                                            min="0"
                                            value="{{ price_max }}"
                                            placeholder="{% trans 'Max' %}"
                                        />
                                    </div>
                                    <button class="mt-2" type="submit">{% trans "Apply" %}</button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4>{% trans "Additional" %}</h4>
                                <div class="mb-3 scroll-container swiper"  >
                                    {% for spe in species %}
                                    <div class="mb-2">
                                        <input
                                            type="checkbox"
                                            class="me-2"
                                            id="spe.name"
                                            name="species"
                                            value="{{ spe.id }}"
                                            {% if spe.id|stringformat:"s" in selected_species %}checked{% endif %}
                                        />
                                        <label for="species">{{ spe.name }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <button type="submit">{% trans "Apply" %}</button>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img
                                        src="{% static 'images/pet-banner2.png' %}"
                                        class="img-fluid w-100 rounded"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="row g-4">
                            {% for product in products|slice:":9" %}
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                {% include 'components/product_card.html' with product=product %}
                            </div>
                            {% endfor %}
                            <div class="col-12">
                                {% include 'components/pagination.html' with products=products %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
