{% extends 'base.html' %} {% load i18n %} {% load static %} {% block content %}
<section id="banner" style="background: #f9f3ec">
    <div class="container">
        <div class="swiper main-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide py-5">
                    <div class="row banner-content align-items-center">
                        <div class="img-wrapper col-md-5">
                            <img
                                src="{% static 'images/banner-img.png' %}"
                                class="img-fluid"
                            />
                        </div>
                        <div class="content-wrapper col-md-7 p-5 mb-5">
                            <div
                                class="secondary-font text-primary text-uppercase mb-4"
                            >
                                {% trans "Save 10 - 20 % off" %}
                            </div>
                            <h2 class="banner-title display-1 fw-normal">
                                {% trans "Best destination for" %}
                                <span class="text-primary">{% trans "your pets" %}</span>
                            </h2>
                            <a
                                href="#"
                                class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1"
                            >
                            {% trans "shop now" %}<svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    class="mb-1"
                                >
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination mb-5"></div>
        </div>
    </div>
</section>

<section id="categories">
    <div class="container my-3 py-5">
        <div class="row my-5">
            {% for category in categories|slice:":5" %}
            <div class="col text-center">
                <a href="#" class="categories-item">
                    <iconify-icon
                        class="category-icon"
                        icon="tabler:category-filled"
                    ></iconify-icon>
                    <h5>{{ category.name }}</h5>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% for category, products in products_by_category.items %}
    {% if forloop.first %}
        {% include 'components/category_product_swiper.html' with category=category products=products  %}
    {% else %}
        {% include 'components/category_product_isotope.html' with category=category products=products %}
    {% endif %}
{% empty %}
    <p>{% trans "No categories found" %}.</p>
{% endfor %}

<section id="banner-2" class="my-3" style="background: #f9f3ec">
    <div class="container">
        <div class="row flex-row-reverse banner-content align-items-center">
            <div class="img-wrapper col-12 col-md-6">
                <img
                    src="{% static 'images/banner-img2.png' %}"
                    class="img-fluid"
                    alt="Banner Image"
                />
            </div>
            <div class="content-wrapper col-12 offset-md-1 col-md-5 p-5">
                <div
                    class="secondary-font text-primary text-uppercase mb-3 fs-4"
                >
                    {% trans "Up to 40% Off" %}
                </div>
                <h2 class="banner-title display-1 fw-normal">
                    {% trans "Clearance Sale" %}!!!
                </h2>
                <a
                    href="#"
                    class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1"
                >
                    {% trans "Shop Now" %}
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="mb-1"
                    >
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="swiper testimonial-swiper">
                    <div class="swiper-wrapper">
                        <!-- Testimonial Slide -->
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-2">
                                    <iconify-icon
                                        icon="ri:double-quotes-l"
                                        class="quote-icon text-primary"
                                    ></iconify-icon>
                                </div>
                                <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5">
                                    <p class="testimonial-content fs-2">
                                        At the core of our practice is the idea
                                        that cities are the incubators of our
                                        greatest achievements, and the best hope
                                        for a sustainable future.
                                    </p>
                                    <h5 class="testimonial-author text-primary">
                                        {% trans "Jonathan Doe" %}
                                    </h5>
                                    <span class="testimonial-role"
                                        >{% trans "Businessman" %}</span
                                    >
                                </div>
                            </div>
                        </div>
                        <!-- Add more testimonial slides as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bestselling" class="my-5 overflow-hidden">
    <div class="container py-5 mb-5">
        <div
            class="section-header d-md-flex justify-content-between align-items-center mb-3"
        >
            <h2 class="display-3 fw-normal">{% trans "Best selling products" %}</h2>
            <div>
                <a
                    href="#"
                    class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1"
                >
                    {% trans "shop now" %}<svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="mb-1"
                    >
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="swiper bestselling-swiper ">
            <div class="swiper-wrapper">
                {% for product in best_selling_products %}
                <div class="swiper-slide">
                    {% include 'components/product_card.html' with product=product %}
                </div>
                {% endfor %}

            </div>
        </div>
        {% comment %} <div class="d-flex justify-content-center mt-2">
            {% include 'components/pagination.html' with products=best_selling_products %}
        </div> {% endcomment %}
    </div>
</section>

<section id="latest-blog" class="my-5">
    <div class="container py-5 my-5">
        <div class="row mt-5">
            <div
                class="section-header d-md-flex justify-content-between align-items-center mb-3"
            >
                <h2 class="display-3 fw-normal">{% trans "Latest Blog Post" %}</h2>
                <div>
                    <a
                        href="#"
                        class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1"
                    >
                        {% trans "Read all" %}<svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            class="mb-1"
                        >
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 my-4 my-md-0">
                <div
                    class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light"
                >
                    <h3 class="secondary-font text-primary m-0">20</h3>
                    <p class="secondary-font fs-6 m-0">Feb</p>
                </div>
                <div class="card position-relative">
                    <a href="single-post.html"
                        ><img
                            src="{% static 'images/blog1.jpg' %}"
                            class="img-fluid rounded-4"
                            alt="image"
                    /></a>
                    <div class="card-body p-0">
                        <a href="single-post.html"
                            ><h3 class="card-title pt-4 pb-3 m-0">
                                10 Reasons to be helpful towards any animals
                            </h3></a
                        >
                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                At the core of our practice is the idea that
                                cities are the incubators of our greatest
                                achievements, and the best hope for a
                                sustainable future.
                            </p>
                            <a href="single-post.html" class="blog-read"
                                >read more</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <div
                    class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light"
                >
                    <h3 class="secondary-font text-primary m-0">21</h3>
                    <p class="secondary-font fs-6 m-0">Feb</p>
                </div>
                <div class="card position-relative">
                    <a href="single-post.html"
                        ><img
                            src="{% static 'images/blog2.jpg' %}"
                            class="img-fluid rounded-4"
                            alt="image"
                    /></a>
                    <div class="card-body p-0">
                        <a href="single-post.html"
                            ><h3 class="card-title pt-4 pb-3 m-0">
                                How to know your pet is hungry
                            </h3></a
                        >
                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                At the core of our practice is the idea that
                                cities are the incubators of our greatest
                                achievements, and the best hope for a
                                sustainable future.
                            </p>
                            <a href="single-post.html" class="blog-read"
                                >{% trans "read more" %}</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <div
                    class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light"
                >
                    <h3 class="secondary-font text-primary m-0">22</h3>
                    <p class="secondary-font fs-6 m-0">Feb</p>
                </div>
                <div class="card position-relative">
                    <a href="single-post.html"
                        ><img
                            src="{% static 'images/blog3.jpg' %}"
                            class="img-fluid rounded-4"
                            alt="image"
                    /></a>
                    <div class="card-body p-0">
                        <a href="single-post.html"
                            ><h3 class="card-title pt-4 pb-3 m-0">
                                This new cat toy is really something special
                            </h3></a
                        >
                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                At the core of our practice is the idea that
                                cities are the incubators of our greatest
                                achievements, and the best hope for a
                                sustainable future.
                            </p>
                            <a href="single-post.html" class="blog-read"
                                >{% trans "read more" %}</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
